/* Base Styles & Layout */
body {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    margin-top: 0;
    padding: 50px;
    background-color: aquamarine;
    box-sizing: border-box;
}

footer {
    margin-top: 100px;
    text-align: center;
    align-content: center;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: #000;
    width: auto;
}

nav a:hover {
    background-color: rgba(38, 41, 53, 0.75);
    color: blanchedalmond;
}

a:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    nav {
        display: block;
    }

    nav a {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: auto;
    }
}

/* Runner Animation */
.runner {
    text-align: center;
    position: relative;
    width: 100%;
}

.road {
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.animation {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 50px;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    height: 50px;
    animation: moveAndFlip 5s ease-in-out infinite;
    text-align: right;
}

@keyframes moveAndFlip {
    0% {
        transform: translateX(0) scaleX(-1);
    }

    50% {
        transform: translateX(93vw) scaleX(-1);
    }

    51% {
        transform: translateX(93vw) scaleX(1);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}


/* Funny Colors */
#colorful-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}

#canvas {
    margin-top: 50px;
    display: block;
    border: 2px solid #664190;
    background: #f8f8ff;
    width: 98.5vw;
    height: 300px;
}

#canvas:focus,
#canvas:hover {
    box-shadow: 0 4px 32px rgba(102, 65, 144, 0.18);
    outline: none;
}


/* Oracle Section */
#weather-container {
    background: rgba(255, 255, 255, 0.5);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 50px;
}

h2,
label,
p {
    color: #000;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

.oracle button {
    background: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

.oracle button:hover {
    background: #664190;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #000;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #000;
    margin-top: 10px;
}


/* Light & Dark Mode */
button {
    background: #000527;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    font-size: 15px;
}

#switch-theme {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--base-variant);
    margin-top: 15px;
}

#switch-theme i.fa-moon {
    display: none;
}

#switch-theme i.fa-sun {
    display: block;
}

.dark-mode #switch-theme i.fa-sun {
    display: none;
}

.dark-mode #switch-theme i.fa-moon {
    display: block;
}

.dark-mode {
    background-color: rgb(0, 29, 29);
    color: blanchedalmond;
}

.dark-mode header {
    background-color: rgb(0, 61, 41);
}

.dark-mode nav {
    background-color: rgb(48, 48, 48);
    color: white;
}

.dark-mode .oracle button {
    background-color: rgb(128, 0, 183);
}

.dark-mode button {
    background-color: lightcyan;
    color: black;
}


/* Miscellaneous */
.cat {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 600px;
    padding: 50px;
}

.download {
    align-content: center;
    text-align: center;
    margin-right: 50%;
}

.container {
    height: 50px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 47.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.links {
    display: flex;
    margin-top: 20px;
}

.links a {
    padding: 15px;
}